<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuk Naik Gunung</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="Website icon" type="png" href="/Naufal/Pair-Project/public/img/jalanyuk.com.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!-- animasi loading -->
<body class="badan">
  <header id="header">
    <h1>Jalan Yuk</h1>
    <nav>
      <a href="/">Home</a>
      <a href="#gunung-list">list mounth</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <!-- <a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal">Search</a> -->
    </nav>
  </header> 
  <section id="service">
    <div class="service-header">
      <div>
        <h1>Our Servicee</h1>
        <p>We have the best service to solve your problem</p>
      </div>
      <!-- <a href="#contact" class="btn">Contact Us</a> -->
    </div>
    <div class="mb-3">
        <form style=" background-color: white;" >
              <label for="Search by Nama Gunung">Search by Nama Gunung</label>
            <input class="form-control" type="text" placeholder="Search by Nama Gunung" name="search" autocomplete="off" />
            <button class="form-control" type="submit">Search</button>
            <section id="gunung-list">
              <div class="transparent-table">
        
                <h1>list of mountains in Indonesia</h1>
        <div>
            <table>
              <thead>
                <tr>
                  <th scope="col">Gambar</th>
                  <th scope="col">Nama Gunung</th>
                  <th scope="col">Location</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col">Travel expense</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% packages.forEach(el=> { %>
                  <tr>
                    <td>
                      <img src="<%= el.imageURL %>" style="width: 25rem"/>
                    </td>
                    <td>
                      <%= el.name %>
                    </td>
                    <td>
                      <%= el.location %>
                    </td>
                    <td>
                      <%= el.description %>
                    </td>
                    <td>
                      <%= formatCurrency(el.price) %>
                    </td>
                    <td>
                      <%= el.description %>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
          </table>
        </div>
                <a href="/customers/add">Daftar Sekarang</a>
              </div>
            </section>
          </form>
        </div>
        <!-- ini gunung lis -->
  </section>
  <!-- </section> -->
  <section id="contact">
   
    </div>
  </section>


</body>
<footer id="footer">
  <div>
    <h1>Jalan Yuk</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sint?</p>
  </div>

  <div>
    <h2>Made by</h2>
    <h6>M.Naufal Fikri Hidayatullah</h6>
    <h6>Rahmat Adlin Pasaribu</h6>
  </div>

  <div class="social-icon">
    <img src="/Naufal/Pair-Project/public/Facebook.svg" alt="">
    <img src="images/Instagram.svg" alt="">
    <img src="images/Twitter.svg" alt="">
  </div>
  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchModalLabel">Search</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- animasi loading -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>