<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yuk Naik Gunung</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="Website icon" type="png" href="/Naufal/Pair-Project/public/img/jalanyuk.com.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<!-- animasi loading -->
<body class="badan">
  <header id="header">
    <h1>Jalan Yuk</h1>
    <nav>
      <a href="/">Home</a>
      <a href="#gunung-list">list mounth</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <!-- <a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal">Search</a> -->
    </nav>
  </header>
  <section id="landing">
    <div>
      <h1>Ayo Mendaki Gunung</h1>
      <p class="mendaki">MENDAKI gunung akan memberitahumu bagaimana caranya merendahkan yang angkuh, menundukan yang
        menengadah dan membungkukkan yang membusungkan dada. Kata-kata bijak tersebut menunjukkan bahwa mendaki gunung
        adalah perjalanan untuk meninggalkan kesombongan diri.</p>
      <!-- <div>
        <a class="btn btn-alt" href="#about">More Info</a>
        <a class="btn" href="#contact">Contact Us</a>
      </div> -->
    </div>
    <div>
      <!-- <img src="https://static.promediateknologi.id/crop/0x0:0x0/750x500/webp/photo/2023/08/08/gunung-kerinci-1379339471.jpg" alt="Landing Image"> -->
    </div>
    <br>
    <br>
  </section>
  <section id="about">



  </section>
  <br> <br>
  <section id="service">
    <div class="service-header">
      <div>
        <h1>Our Servicee</h1>
        <p>We have the best service to solve your problem</p>
      </div>
      <!-- <a href="#contact" class="btn">Contact Us</a> -->
    </div>
    <div class="mb-3">
          <label for="Search by Nama Gunung">Search by Nama Gunung</label>
          <form>
            <input class="form-control" type="text" placeholder="Search by Nama Gunung" name="search" autocomplete="off" />
            <button class="form-control" type="submit">Search</button>
            <section id="gunung-list">
              <div class="modal-loby">
        
                <h1>list of mountains in Indonesia</h1>
        
                <% if (packages.length> 0) { %>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Gambar</th>
                        <th scope="col">Nama Gunung</th>
                        <th scope="col">Location</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Travel expense</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% packages.forEach(el=> { %>
                        <tr>
                          <td>
                            <img src="<%= el.imageURL %>" />
                          </td>
                          <td>
                            <%= el.name %>
                          </td>
                          <td>
                            <%= el.location %>
                          </td>
                          <td>
                            <%= el.description %>
                          </td>
                          <td>
                            <%= formatCurrency(el.price) %>
                          </td>
                        </tr>
                        <% }); %>
                    </tbody>
                    <% } else { %>
                      <p>Maaf, gunung yang Anda cari tidak ada.</p>
                      <% } %>
                  </table>
              </div>
            </section>
          </form>
        </div>
        <!-- ini gunung lis -->

  </section>
  <!-- </section> -->
  <section id="contact">
   
    <div>
      <h1>Our Location</h1>
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15349.912050100987!2d101.25386684448029!3d-1.696645124185174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e2cf9c6c514eb45%3A0xfe7787e400ecc6f0!2sTugu%20Yudha!5e1!3m2!1sid!2sid!4v1698045251699!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.7075488854384!2d106.64770027475132!3d-6.302104093687056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fb119eda517f%3A0x641b37f9ea18f8a2!2sHacktiv8%20BSD%20Campus!5e0!3m2!1sid!2sid!4v1700670223380!5m2!1sid!2sid"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
  </section>





  <!-- <a href="/"><button>Home</button></a> <br />
  <br />
  <a href="/signup"><button>Sign Up</button></a> <br />
  <br />
  <a><button>Login</button></a> <br />
  <br />
  <a href="/customers/add"><button>Daftar Sekarang</button></a>
  <h1>Daftar Gunung Indonesia</h1> -->




</body>
<footer id="footer">
  <div>
    <h1>Jalan Yuk</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sint?</p>
  </div>

  <div>
    <h2>Made by</h2>
    <h6>M.Naufal Fikri Hidayatullah</h6>
    <h6>Rahmat Adlin Pasaribu</h6>
  </div>

  <div class="social-icon">
    <img src="/Naufal/Pair-Project/public/Facebook.svg" alt="">
    <img src="images/Instagram.svg" alt="">
    <img src="images/Twitter.svg" alt="">
  </div>
  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchModalLabel">Search</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- animasi loading -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>